$theme-col:#F3F4F5;
$blue-col:#25337A;
$gray-col:#cccccc;

body{
    background-color:#fcfcfc;
}

#index-content{
    margin-top:90px;
}

#title-index{
    font-size: 100px;
    font-weight: bold;

}
nav{
    padding:0 !important;
    
}

.input-custom-lg{
    width: 650px;
    border-color:$theme-col;
}
.input-custom-md{
    width: 300px;
    border-color:$theme-col;
}
.col-no-pad{
    padding:0;
}
.col-pad-rl{
    padding-left:0px;
}
.col-pad-rr{
    padding-right:0px;
}
.center-obj{
    margin:0 auto;
}
.hr-custom{
    width: 400px;
}
.table-header{
    background-color: $theme-col !important;
}

.btn-custom{
    width:150px;
    background-color:$blue-col;
    border-color:$theme-col;
    color:$theme-col;
}

.btn-blue:hover{
    color: #c6c6c6;
}

.error-msg{
    color:red !important;
    font-weight: bold;
}
nav{
    background-color:#2f3e7a;
}
.navlink-custom{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    color:#c6c6c6;

    margin-top:14px !important;
}

.user-img{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.title-tag{
    font-size:27px;
    font-weight: bold;
}
.title-side{
    font-size:15px;
}
.title-side:hover{
    text-decoration: none;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.color-green{
    background-color:#9FF29D;
    height: 40px;
}
.color-red{
    background-color:#FEA39E;
    height: 40px;
}
.card-body{
    min-height: 200px;
}
.prof-photo{
    border-radius:50%;
}

.btn-blue{
    background-color: $blue-col;
    color: #ffffff;
}

.btn-right{
    left: 37%;
}

.navlink-custom:hover{
    color: #ffffff;
}

.custom-msg{
    margin: 0px;
}

.custom-alert{
    position: absolute;
    bottom: 0;
}

.fa-navicon{
    color: #c6c6c6;
    margin-top: 15px;
    margin-bottom: 15px;

}

.fa-navicon:hover{
    color: #ffffff;
}
.user-info-active{
    background-color:$theme-col;
}
.user-info{
    padding:20px;
}
.user-info:hover{
    cursor: pointer;
    background-color:$theme-col;
}
#side-message{
    border-right: 1px solid $blue-col;
    min-height: 520px;
}
#message-panel{
    min-height: 460px;
}
.msg-receive{
    background-color:rgba(196, 196, 196, 0.6);
    border-radius:10px;
    padding:15px;
}
.msg-sent{
    background-color:rgba(31, 98, 228, 0.6);
    border-radius:10px;
    padding:15px;
}
.msg{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#message-panel{
max-height: 470px;
overflow-y:auto;
}
.msg-height{
    height:60px;
}
.no-pleft{
    padding-left:0px;
}
.no-pright{
    padding-right:0px;
}
.btn-send{
    height:60px;
    width:130px;
}